<!-- Footer -->
<footer id="footer" class="footer-light">
        <div class="footer-content" style="background-image: url('/static/img/bamboo.png'); background-position: 100% 20px; background-repeat: no-repeat">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <!-- Footer widget area 1 -->
                        <div class="widget clearfix widget-contact-us">
                            <h4>Kontak hebat kaos</h4>
                            <ul class="list-icon">
                                <li><i class="fa fa-map-marker"></i> Jl. Gang H.Somad RT. 003/04 No. 50 Cireundeu
                                    <br>&nbsp; Ciputat Timur Tangerang Selatan - Banten, 15419</li>
                                <li><i class="fa fa-phone"></i><strong>Diki Firmansyah - 0822 2630 7462 </strong>
                                    <br>&nbsp; <strong>Rio - 0812 9788 8418 </strong></li>
                                <li><i class="fa fa-envelope"></i><a href="mailto:first.last@example.com">hebatdiki@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                        <!-- end: Footer widget area 1 -->
                    </div>
                    <div class="col-md-2">
                        <!-- Footer widget area 2 -->
                        <div class="widget">
                            <h4>Info hebat kaos</h4>
                            <ul class="list-icon">
                                <li><a href="{% url 'about' %}">Tentang Kami</a></li>
                                <!-- <li><a href="#">Privasi Policy</a></li> -->
                                <li><a href="#">Kualitas Kaos</a></li>
                                <li><a href="#">Lowongan Kerja</a></li>
                            </ul>
                        </div>
                        <!-- end: Footer widget area 2 -->
                    </div>
                    <div class="col-md-3">
                        <!-- Footer widget area 3 -->
                        <div class="widget">
                            <h4>Panduan hebat kaos</h4>
                            <ul class="list-icon">
                                <li><a href="{% url 'how_to_order' %}">Cara Pemesanan</a></li>
                                <li><a href="#">Cara Pembayaran</a></li>
                                <li><a href="#">Pengiriman</a></li>
                                <li><a href="{% url 'pricelist' %}">Daftar Harga</a></li>
                            </ul>
                        </div>
                        <!-- end: Footer widget area 3 -->
                    </div>
                    <div class="col-md-3">
                        <!-- Footer widget area 4 -->
                        <div class="widget social-media">
                            <h4>Social Media</h4>
                            <!-- Social icons -->

                            <ul class="social-icons social-icons-rounded social-icons-colored float-left">
                                <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li class="social-instagram"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>

                            <!-- end: Social icons -->
                        </div>
                        <!-- end: Footer widget area 4 -->
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-content">
            <div class="container">
                <div class="copyright-text text-center">&copy; 2018 hebatkaos. All Rights Reserved
                </div>
            </div>
        </div>
    </footer>
    <!-- end: Footer -->