<div class="container">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li> <a href="{% url 'about' %}">Tentang Kami</a></li>
            <li> <a href="{% url 'product_polos' %}">Produk</a></li>
            <!-- <li class="dropdown"> <a href="#">Klien</a></li> -->
            <li> <a href="{% url 'pricelist' %}">Daftar Harga</a></li> 
            <li> <a href="{% url 'gallery_category' %}">Galeri</a></li> 
            <li><a href="{% url 'contact' %}">Hubungi Kami</a>
            </li>
        </ul>
    </nav>
</div>