{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Tentang Kami {% endblock %}

{% block slider %}{%endblock %}

{% block content %}


<section class="p-b-10">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb text-left fancy">
					<li><a href="/">Home</a></li>
					<li class="active">Tentang Kami</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="heading heading text-left">
					<h2>Tentang Kami</h2>
					<span class="lead">Hebat kaos merupakan badan usaha berbentuk CV yang bergerak dibidang produksi kaos berdiri
						sejak 2017 yang beralamat di jalan Gang H. Somad. Cirendeu - Tangerang Selatan.
						<br><br> Sehari kami mampu memproduksi sebanyak 200 kaos yang siap jahit. Tenaga kerja yang kami miliki terdiri
						dari 2 orang penjahit. 1 orang pembuat pola dan pemotong kain, 1 orang penyetrika, 1 orang pengendalian mutu dan
						1 orang pesuruh.
						<br><br>
						<h4>Jual Kaos Polos</h4>
						Kami menjual kaos polos cewek, kaos polos cowok, kaos polos anak, kaos raglan, kaos gildan, jacket dan juga polo
						shirt polos murah dengan beragam warna dan ukuran, Kami membuka peluang kepada para insan kreatif kaos yang ingin
						berekspresi melalui media kaos. selain itu jika Anda beli kaos polos disini Anda bisa mendapatkan diskon atau
						potongan harga dan juga berbagai macam promo di hebat kaos.

					</span>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}