{% extends 'base.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block title %} Tentang Kami {% endblock %}

{% block slider %}{%endblock %}

{% block content %}


<section class="p-b-10">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb text-left fancy">
					<li><a href="/">Home</a></li>
					<li class="active">Tentang Kami</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{% for about in about  %}
				<div class="heading heading text-left">
					<h2>{{ about.title }}</h2>
					<span class="lead">
						{{ about.description|markdown }}
					</span>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

{% endblock %}