{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Galeri {% endblock %}

{% block slider %}{% endblock %}

{% block content %}

<section id="page-content">
    <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb text-left fancy">
                        <li><a href="/">Home</a></li>
                        <li class="active">Galeri</li>
                    </ol>
                </div>
            </div>
            <!-- <div class="row">
                <div class="grid-layout grid-5-columns" data-margin="20" data-item="grid-item" data-lightbox="gallery">
                    {% for galeri in galleries %}
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="/media/{{ galeri.image }}" data-lightbox="gallery-item"><img src="/media/{{ galeri.image }}"></a>
                    </div>
                    {% endfor %}
                </div>

                <div id="pagination" class="infinite-scroll">
                    <a href="page-gallery-load-more-2.html"></a>
                </div>

                <div id="showMore">
                    <a href="#" class="btn btn-outline">Show More</a>
                </div>
            </div> -->
            <section>
            <div class="shop-category">
                <div class="row">
                    {% for category in categories %}
                    <div class="col-md-3">
                        <div class="shop-category-box">
                            <a href="{% url 'gallery' slug=category.slug %}"><img alt="" src="/media/{{ category.image_category }}">
                                <div class="shop-category-box-title text-center">
                                    <h6>{{ category.category }}</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            </section>
    </div>
</section>

{% endblock content %}