{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Galeri {% endblock %}

{% block slider %}{% endblock %}

{% block content %}

<section id="page-content">
    <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb text-left fancy">
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url 'gallery_category' %}">Galeri</a> </li>
                        <li class="active">{{ category.category }}</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="grid-layout grid-5-columns" data-margin="20" data-item="grid-item" data-lightbox="gallery">
                    {% for gallery in category.galleries.all %}
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="/media/{{ gallery.image }}" data-lightbox="gallery-item"><img src="/media/{{ gallery.image }}"></a>
                    </div>
                    {% endfor %}
                </div>

                <div id="pagination" class="infinite-scroll">
                    <a href="page-gallery-load-more-2.html"></a>
                </div>

                <div id="showMore">
                    <a href="#" class="btn btn-outline">Show More</a>
                </div>
            </div>
    </div>
</section>

{% endblock content %}