{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} hebat kaos{% endblock %}

{% block slider %}

<div id="slider" class="inspiro-slider" data-height-xs="360">
    <!-- Slide 1 -->
    {% for carousel in qs %}
    <div class="slide" style="background-image:url('media/{{ carousel.carousel_image }}');">
        <div class="container">
            <div class="slide-captions text-dark">
                <!-- Captions -->
                <h1 data-caption-animation="rotateInUpLeft">{{carousel.title }}</h1>
                <h3 data-caption-animation="rotateInUpLeft" data-caption-delay="300">{{carousel.description }}</h3>
                <!-- end: Captions -->
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end: Slide 1 -->
</div>

{%endblock %}

{% block content %}

<!-- Call to action -->
<section class="background-grey text-left p-t-60  p-b-40" style="background: url('static/img/pattern22.png')">
    <div class="container">
        <div class="col-md-12 text-center">
            <h3 style="font-weight: 600;">JUAL KAOS POLOS, HOODIE, MANSET HIJAB</h3>
            <h4 style="font-weight:400;">TERSEDIA KAOS POLOS ONE NECK, V-NECK, KAOS RAGLAN, PRIA, WANITA, ANAK-ANAK</h4>
        </div>
    </div>
</section>
<!-- end: Call to action -->

<section class="p-t-40 p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-headphones"></i></a>
                    </div>
                    <h3>Customer Service</h3>
                    <p>Pada hari kerja Live Support tersedia mulai 10:00 - 18:00</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                    </div>
                    <a href="#">
                        <h3>Barang Berkualitas</h3>
                    </a>
                    <p>Barang yang kami jual sudah lulus Quality Control</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-truck"></i></a>
                    </div>
                    <h3>Barang Dijamin Sampai</h3>
                    <p>Barang yang anda beli dipastikan akan sampai ke tangan anda</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="background-grey p-t-30 p-b-30">
    <div class="container">
        <div class="container">
            <div class="heading m-b-40">
                <div class="hr-title hr-long center"><abbr>Produk</abbr> </div>
            </div>
            <div class="row">
                {% for product in products %}
                <div class="col-md-6">
                    <div class="shop-promo-box text-right" style="background-image: url('/media/{{ product.image }}');">
                        <h2>{{ product.category }}</h2>
                        <p>
                            We offer a range of services for
                            <br /> both businesses and individuals companies,
                            <br /> consectetur adipiscing elit. Morbi sagittis,
                            <br /> sem quis lacinia faucibus, orci ipsum
                            <br /> <br>
                            <a class="btn btn-dark" href="{% url 'product' slug=product.slug %}">Lihat</a> 
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</section>

<div class="call-to-action background-image p-t-100 p-b-100" style="background-image:url(static/img/7.jpg)">
    <div class="container">
        <div class="col-md-10">
            <h3 class="text-light">Spesialis Cotton Bamboo</h3>
            <p class="text-light">Kami membuka peluang kepada para insan kreatif kaos yang ingin berekspresi melalui
                media kaos.</p>
        </div>
        <div class="col-md-2"> <a class="btn btn-light btn-outline">Hubungi Sekarang!</a> </div>
    </div>
</div>

<section class="background-grey p-t-10 p-b-30" style="background: url('static/img/pattern22.png')">
    <div class="container">
        <div class="hr-title hr-long center"><abbr>Galeri</abbr> </div>

        <div class="grid-articles carousel post-carousel" data-items="3" data-dots="false">
            <article class="post-entry">
                <a href="#" class="post-image"><img alt="" src="{% static 'img/galeri/stand_hebat_kaos.jpeg' %}"></a>
                <div class="post-entry-overlay">
                    <div class="post-entry-meta">
                        <div class="product-description">
                            <div class="product-category">Event Atrium</div>
                            <div class="product-title">
                                <h3><a href="#">Consume Tshirt</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="post-entry">
                <a href="#" class="post-image"><img alt="" src="{% static 'img/galeri/stand_hebat_kaos_2.jpeg' %}"></a>
                <div class="post-entry-overlay">
                    <div class="post-entry-meta">
                        <div class="product-description">
                            <div class="product-category">Man</div>
                            <div class="product-title">
                                <h3><a href="#">Tshirt</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="post-entry">
                <a href="#" class="post-image"><img alt="" src="{% static 'img/galeri/5.jpg' %}"></a>
                <div class="post-entry-overlay">
                    <div class="post-entry-meta">
                        <div class="product-description">
                            <div class="product-category">Women</div>
                            <div class="product-title">
                                <h3><a href="#">Logo Tshirt</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="post-entry">
                <a href="#" class="post-image"><img alt="" src="{% static 'img/galeri/2.jpg' %}"></a>
                <div class="post-entry-overlay">
                    <div class="post-entry-meta">
                        <div class="product-description">
                            <div class="product-category">Women</div>
                            <div class="product-title">
                                <h3><a href="#">Consume Tshirt</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="post-entry">
                <a href="#" class="post-image"><img alt="" src="homepages/shop-v4/images/carousel/5.jpg"></a>
                <div class="post-entry-overlay">
                    <div class="post-entry-meta">
                        <div class="product-description">
                            <div class="product-category">Man</div>
                            <div class="product-title">
                                <h3><a href="#">Tshirt</a></h3>
                            </div>
                            <div class="product-price"><ins>$29.00</ins>
                            </div>
                            <div class="product-rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <div class="product-reviews"><a href="#">3 customer reviews</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="post-entry">
                <a href="#" class="post-image"><img alt="" src="homepages/shop-v4/images/carousel/6.jpg"></a>
                <div class="post-entry-overlay">
                    <div class="post-entry-meta">
                        <div class="product-description">
                            <div class="product-category">Women</div>
                            <div class="product-title">
                                <h3><a href="#">Logo Tshirt</a></h3>
                            </div>
                            <div class="product-price"><ins>$39.00</ins>
                            </div>
                            <div class="product-rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <div class="product-reviews"><a href="#">3 customer reviews</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>


{% endblock %}