{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Cara Pemesanan {% endblock %}

{% block slider %}{%endblock %}

{% block content %}


<section class="p-b-10">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb text-left fancy">
					<li><a href="/">Home</a></li>
					<li class="active">Tentang Kami</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="heading heading text-left">
					<h2>Cara Melakukan Pemesanan </h2>
					<span class="lead">
                        <ul>
                            <li>Cari barang yang anda inginkan</li>
                            <li>isi data orderan dengan format sebagai berikut <br>
                                NAMA PENERIMA: <br>
                                ALAMAT PENERIMA: <br>
                                NO HP PENERIMA: <br>
                                ORDERAN:
                            </li>
                            <li>Kemudian kirim data tersebut ke <br>
                                SMS / WHATSAPP : 0822 2630 7462  <br>
                            </li>
                            <li>Setelah itu kami akan menginformasikan ketersediaan stock dan total yang harus ditransfer.</li>
                            <li>Setelah anda mentransfer total belanja, konfirmasi ke kami via kontak kami</li>
                            <li>Kami akan mengirimkan orderan sesuai dengan data yang anda kirimkan</li>
                        </ul>

					</span>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}