{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Daftar Harga {% endblock %}

{% block slider %}{%endblock %}

{% block content %}

<section class="p-b-10">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb text-left fancy">
                    <li><a href="/">Home</a></li>
                    <li class="active">Daftar Harga</li>
                  </ol>
			</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Harga Kaos Dewasa Pria / Wanita</h3>
                <p>Harga dapat berubah sewaktu-waktu</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                <h3 class="lead">Cotton Bamboo Pria</h3>
                <table class="items table table-striped table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th rowspan="2" colspan="2" width="25%">Size</th>
                            <th colspan="2" width="20%">Kaos Polos</th>
                            <th colspan="2" width="20%">Kaos Hoodie</th>
                            <th rowspan="2" colspan="2" width="10%">Kaos Raglan</th>
                        </tr>
                        <tr>
                            <th>Lengan Pendek</th>
                            <th>Lengan Panjang</th>
                            <!--<th>A2</th>-->
            
                            <th>Lengan Pendek</th>
                            <th>Lengan Panjang</th>
                            <!--<th>A2</th>-->
            
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="warning">
                            <th rowspan="9">
                            <img src="{% static '/img/kaos-polos.jpg' %}" style="width:200px; height:250px;" align="center" alt="print t-shirt 01" >
                            </th>
                            <td>S (50 X 73 cm)</td>
                            <td>55000</td>
                            <td>75000</td>
                            <!--<td class="right"> - </td>-->
            
                            <td>150000</td>
                            <td>175000</td>
                            <td>80000</td>
                            <!--<td class="right"> - </td>-->
                        </tr>
            
                        <tr>
                            <td>M (52 x 75 cm)</td>
                            <td>55000</td>
                            <td>75000</td>
                            <!--<td class="right"> - </td>-->
            
                            <td>150000</td>
                            <td>175000</td>
                            <td>80000</td>
                            <!--<td class="right"> - </td>-->
                        </tr>
            
                            <tr class="success">
                            <td>L (56 x 77 cm)</td>
                            <td>55000</td>
                            <td>75000</td>
                            <!--<td class="right">63.000</td>-->
            
                            <td>150000</td>
                            <td>175000</td>
                            <td>80000</td>
                            <!--<td class="right">97.000</td>-->
                        </tr>
            
                        <tr>
                            <td>XL (58 x 79 cm)</td>
                            <td>65000</td>
                            <td>85000</td>
                            <!--<td class="right">66.000</td>-->
            
                            <td>175000</td>
                            <td>200000</td>
                            <td>95000</td>
                            <!--<td class="right">100.000</td>-->
                        </tr>
            
                        <tr class="danger">
                            <td>XXL (60 x 82 cm)</td>
                            <td>100000</td>
                            <td>125000</td>
                            <!--<td class="right">69.000</td>-->
            
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <!--<td class="right">103.000</td>-->
                        </tr>                                         
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                <h3 class="lead">Cotton Bamboo Wanita</h3>
                <table class="items table table-striped table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th rowspan="2" colspan="2" width="25%">Size</th>
                            <th colspan="2" width="20%">Kaos Polos</th>
                            <th colspan="2" width="20%">Kaos Hoodie</th>
                            <th rowspan="2" colspan="2" width="10%">Kaos Raglan</th>
                        </tr>
                        <tr>
                            <th>Lengan Pendek</th>
                            <th>Lengan Panjang</th>
                            <!--<th>A2</th>-->
            
                            <th>Lengan Pendek</th>
                            <th>Lengan Panjang</th>
                            <!--<th>A2</th>-->
            
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="warning">
                            <th rowspan="9">
                            <img src="{% static '/img/kaos-polos.jpg' %}" style="width:200px; height:250px;" align="center" alt="print t-shirt 01" >
                            </th>
                            <td>S (46 X 66 cm)</td>
                            <td>55000</td>
                            <td>75000</td>
                            <!--<td class="right"> - </td>-->
            
                            <td>150000</td>
                            <td>175000</td>
                            <td>80000</td>
                            <!--<td class="right"> - </td>-->
                        </tr>
            
                        <tr>
                            <td>M (48 x 68 cm)</td>
                            <td>55000</td>
                            <td>75000</td>
                            <!--<td class="right"> - </td>-->
            
                            <td>150000</td>
                            <td>175000</td>
                            <td>80000</td>
                            <!--<td class="right"> - </td>-->
                        </tr>
            
                            <tr class="success">
                            <td>L (50 x 70 cm)</td>
                            <td>55000</td>
                            <td>75000</td>
                            <!--<td class="right">63.000</td>-->
            
                            <td>150000</td>
                            <td>175000</td>
                            <td>80000</td>
                            <!--<td class="right">97.000</td>-->
                        </tr>
            
                        <tr>
                            <td>XL (54 x 74 cm)</td>
                            <td>65000</td>
                            <td>85000</td>
                            <!--<td class="right">66.000</td>-->
            
                            <td>175000</td>
                            <td>200000</td>
                            <td>95000</td>
                            <!--<td class="right">100.000</td>-->
                        </tr>
            
                        <tr class="danger">
                            <td>XXL (58 x 78 cm)</td>
                            <td>100000</td>
                            <td>125000</td>
                            <!--<td class="right">69.000</td>-->
            
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <!--<td class="right">103.000</td>-->
                        </tr>                                         
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock content %}